.HeaderTable
{
	width:100%;
	height:100%;
	
	border-left:solid 2px Black;
	border-right:solid 2px Black;
	border-top:solid 2px Black;
	border-bottom:solid 2px Black;
}
.LogInTable
{
	border-left:dashed 1px Aqua;
	border-right:dashed 1px Aqua;
	border-top:dashed 1px Aqua;
	border-bottom:dashed 1px Aqua;
	padding:10px 20px 10px 20px;
	border-spacing:10px;
}